/* HOVER */

.font-logo:hover{
    color: #FFB577;
    text-shadow: 0 0 2px rgb(122, 122, 122);
}
button:hover{
    color: #ffffff;
    box-shadow: 0 0 2px rgb(255, 255, 255);
    
    transition: 0.5s;
}
.img1:hover{
    animation-name: img1-an;
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: ease-in;
}
.img2:hover{
    animation-name: img2-an;
    animation-timing-function: ease-in-out;
    transition: ease-in;
}
.sv-item:hover{
    transform: translateY(-10px);
    box-shadow: 5px 10px 10px 5px rgb(0, 0, 0);
    background-color: #0f0f0f1f;
}
/* .mn-item:hover{
    box-shadow: 5px 10px 10px 5px rgb(0, 0, 0);
} */
.mn-item img:hover{
    transform: scale(1.1);
}
.blog-item:hover{
    transform: translateY(-10px);
    box-shadow: 5px 10px 10px 5px rgb(0, 0, 0);
}

@keyframes vetor{
    from{ transform: translateX(0); }
    to{ transform: translateX(+5px);}
}
@keyframes img1-an {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(0); }
  }
@keyframes img2-an {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(+20px); }
    100% { transform: translateY(0); }
  }