*{
    margin: 0px;
    padding: 0px;
}
p{
    color: #B8B8B8;
    font-size: 16px;
    line-height: 28px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    
}
h1,h2,h3,h4,h5{
    color: white;
    font-family: 'Playfair Display';
    font-weight: 700;
    opacity: 0.87;
}
h1{
    font-size: 56px;
    list-style: 68px;
    opacity: 0.87;
}
.caption{
    font-family: 'Playfair Display';
    font-size: 16px;
    line-height: 14px;
    font-weight: 400px;
    margin-bottom: 0px !important;
}
.line-after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background: #B8B8B8;
    margin-left: 15px;
}
.font-logo{
    font-weight: bolder;
}
.title{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
body{
    background-color: #19161B;
}

.container{
    width: 100%;
}
.dark-bg{
    background-color: #19161B;
}
.white-font{
    color: white;
}
.yellow-font{
    color: #FFB577;
}
.yellow-bg{
    background-color: #FFB577;
}
h1 {
    font-size: 55px;
}
h2{
    font-size: 48px;
}
.text-content{
    margin-top: 20px;
    font-weight: 400;
}
/* Nav */
nav{
    left: 0;
  max-width: 100%;
  overflow: visible;
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-image: linear-gradient(black,#19161B);
  margin-bottom: 0px;
  box-shadow: 0 0 3px #27212b;
}
.nav-link:hover{
    color: #B8B8B8;
}
.navbar-toggler-icon{
    color: white;
}
/* Menu */
.right-menu{
    display: flex;
}
.nav-item a{
    color: white;
    margin-left: 15px;
}
.clone i{
    line-height: 1.5;
    margin-left: 5px;
    font-weight: 600;
    animation: vetor 0.5s ease-in alternate infinite;
}
.font-logo{
    color: #FFB577; font-weight: bold;
}
/* Header */

.header-left{
    padding-top: 40px;
    padding-right: 40px;
}
header, .blog, .contact,.know-more,.quote,.serving,.menu{
    margin-top: 110px;
}
.header-left>p{
    margin-top: 20px;
    font-weight: 400;
}
.header-button{
    margin-top: 35px;
    padding: 10px 15px;
    font-weight: 600;
    border: 2px;
    
}
.header-left ul{
    list-style: none;
    padding-left: 0px;
    margin-top: 35px;
}
.header-left ul h4{
    margin-bottom: 0px;
}
.header-left ul p{
    margin-top: 5px;
    font-weight: 300;
}
.header-right img{
    width: 100%;
    padding-left: 20px;
}
/* Knowmore */
.know-more{
    margin-top: 120px;
}
.know-more-img {
    padding-left: 6%;
}
.know-more-right img{
    width: 100%;
}
.img1{
    padding-top: 15%;
    animation-duration: 0.3s;
    animation-iteration-count:1;
    transform-origin: bottom;
}
.img2{
    animation-duration: 0.3s;
    animation-iteration-count:1;
    transform-origin: bottom;
}
.know-more-left p{
    font-weight: 400;
}
.feature{
    margin-top: 50px;
}
.under-title{
    margin-top: 5px !important;
}
.feature-text{
    margin-top: 30px !important;
}
.feature b{
    font-size: 20px;
    color: #C4E4EA;
}
/* serving */
.serving{
    margin-top: 120px;
}
.icon i{
    background-color: rgba(255, 181, 119, 0.07);
    padding: 15px;
    border-radius: 100%;
    font-weight: bold;
    font-size: 18px;
    color: #FFB577;
}
.serving-items{
    margin-right: 2px;
    margin-top: 50px;
}
.sv-item{
    background-color: #0000001f;
    padding: 50px;
    border-right: 2px solid #19161B;
    transition: 0.1s;
    transition-timing-function: ease-in;
}
.sv-item h3{
    margin-top: 30px;
}
.sv-item p{
    margin-top: 20px;
}
.sv-text-right{
    padding-left: 5%;
}
/* Menu */
.menu{
    margin-top: 120px;
}
.menu-text-right{
    padding-right: 5%;
}
.menu h5{
    color: #C4E4EA;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
}
.menu-info{
    width: 100%;
    padding: 20px;
    padding-bottom: 0px;
    background-color: #1F1D21;
}
.menu-items{
    margin-top: 40px;
}
.mn-item{
    padding: 20px;
    padding-bottom: 0px;
    overflow: hidden;
}
.menu-img{
    width: 100%;
    overflow: hidden;
}
.mn-item img{
    width: 100%;
    transition: 0.9s cubic-bezier(0.23, 1, 0.320, 1);
    display: block;
    
}

/* Quote */
.quote{
    background-color: #1F1D21;
    margin-top: 120px;
    width: 100%;
}
.quote-content{
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.quote-left{
    padding-right: 40px;
}
.quote-right{
    padding: 0px;
    background: url(../public/image/quote-bg.png) no-repeat fixed;
    position: relative;

}
.quote-right img{
    position: absolute;
    width: 60px;
    left: 47%;
    top: 47%;
    
}
.quote-play{
    position: absolute;
    left: 48%;
    top: 48%;
}
.quote-text{
    padding-top: 45px;
}
.quote-text h2{
    font-family:  'Gilroy-Bold';
    font-size: 72px;
    line-height: 92px;
}
.quote-text p{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
}
.person-tab{
    margin-top: 80px;
}
.person-tab b{
    color: #B8B8B8;
    font-size: 20px;
}
.person-tab p{
    color: #B8B8B8;
    font-family: 'Poppins';
    font-style: normal;
}
.left-tab{
    padding-right: 0px;
}
.right-tab{
    padding-left: 0px;
    padding-right: 0px;
}
.left-tab hr{
    opacity: 0.24;
    border: 1px solid #FFFFFF;
    background-color: white;
}
.right-tab hr{
    border: 1px solid #FFFFFF;
    background-color: white;
    opacity: 1;
    margin-top: 20px;
}
.right-tab img{
    width: 54px;
}

/* Blog */
.blog{
    margin-top: 120px;
}
.blog-items{
    margin-top: 60px;
}
.blog-item{
    background-color: #1F1D21;
    width: 98%;
    transition: 0.2s;

}
.blog-item h3{
    font-size: 32px;
    font-weight: 48px;
}
.blog-item-top{
    padding: 10px 30px 30px 30px;
}
.blog-item-top p{
    margin-top: 20px;
    font-size: 16px;
    line-height: 28px;
}
.blog-item img{
    width: 100%;
}
/* contact */
.contact{
    margin-top: 120px;
}
.contact-details{
    background-color: #1F1D21;
    padding: 50px;
}
.contact-map{
    padding: 0px;
}
/* Details */
.detail-item{
    margin-top: 30px;
}
.contact img{
    width: 100%;
}

/* Footer */
footer{
    margin-top: 120px;
    width: 100%;
}
.footer-menu-items{
    display: flex;
}

.footer-menu-items a{
    padding: 15px 22px;
    color: white !important;
}
.footer-menu{
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.49);
}
.footer-top{
    width: 100%;
}
.footer-bottom{
    padding: 20px 20px 0px 20px;
    margin-right: 0px;
}
.footer-social{
    display: flex;
    justify-content: center;
}
.footer-bottom a{
    color: white;
    margin-right: 20px;
}
footer h3{
    font-family: Arial, Helvetica, sans-serif;
}


/* Responsive */
@media (max-width: 900px){
    header,footer{
        margin-top: 60px;
    }
    .quote-text{
        padding-top: 15px;
    }
    .quote-text h2 {
        font-family: 'Gilroy-Bold';
        font-size: 36px;
        line-height: 46px;
    }
    .quote-text p {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }
    footer{
        text-align: center;
    }
    .footer-menu{
        display: none;
    }
}
@media ( max-width: 640px) {
    
    .right-menu{
        display: none;
    }
    .header-right img{
        padding-left: 0px;
    }
    .know-more-img{
        padding: 0px;
        width: 50%;
    }
    .know-more-right{
        margin-top: 50px;
    }
    
}
@media (max-width: 390px){
    .know-more-img{
        width: 50%;
    }
}
